/* @import "style.css" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section 
{
	position: relative;
	min-height: 100vh;
	background: #834906;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transition: 0.5s;
}
section.active 
{
	background: #42650a;
}
section img
{
	width: 400px;
	height: 500px;
	top: 0;
	position: absolute;
	left: 0;
	object-fit: cover;
}
section .container
{
	position: relative;
	width: 800px;
	height: 500px;
	background-color: #fff;
	box-shadow: 0 15px 50px rgba(207, 156, 156, 0.1);
	overflow: hidden;
}
section .container .user
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
section .container .user .imgBx
{
	position: relative;
	width: 50%;
	height: 100%;
	transition: 0.5s;
}
section .formBx
{
	position: relative;
	width: 50%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: 0.5s;
}
section .formBx h2
{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
}
section .formBx input
{
	width: 100%;
	padding: 10px;
	background: #f1c778;
	color: rgb(27, 20, 128);
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin: 8px 0;
	letter-spacing: 1px;
	font-weight: 400;
}
section .formBx input[type="submit"]
{
	max-width: 100px;
	background: #d1750bc9;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
}
section .signupBX .formBx input[type="submit"]
{
	background: #f35a1e;
}
section .formBx .signup
{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #5a4e37;
	text-transform: uppercase;
	font-weight: 400;
}
section .formBx .signup a
{
	font-weight: 400;
	text-decoration: none;
	color: #ce8806;
}

section .container .signupBX
{
	pointer-events: none;
}

section .container.active .signupBX
{
	pointer-events: initial;
}

section .container .signupBX .formBx 
{
	top: 100%;
}
section .container.active .signupBX .formBx 
{
	top: 0;
}
section .container .signupBX .imgBx 
{
	top: -100%;
	transition: 0.5s;
}

section .container.active .signupBX .imgBx 
{
	top: 0;
}

section .container .signinBX
{
	pointer-events: initial;
}

section .container.active .signinBX
{
	pointer-events: none;
}

section .container .signinBX .formBx 
{
	top: 0;
}
section .container.active .signinBX .formBx 
{
	top: 100%;
}
section .container .signinBX .imgBx 
{
	top: 0;
	transition: 0.5s;
}

section .container.active .signinBX .imgBx 
{
	top: -100%;
}

@media (max-width: 991px)
{
	section .container
	{
		max-width: 400px;
	}
	section .container .imgBx
	{
		display: none;
	}
	section .container .user .formBx
	{
		width: 100%;
	}
	section .container.active .signinBX .formBx
	{
		top:-100%;
	}
}

