@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	transition: 0.5s;
}
p
{
	font-weight: 300;
	color: #111;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../html/images/bia1.jpg);
	background-size: cover;
}
.banner .content 
{
	text-align: center;
}
.banner .content h2
{
	font-size: 6em;
	letter-spacing: 0.05mm;
	color: #fff;
}
.banner .content p 
{
	font-size: 1em;
	color: #fff;
	margin: 10px 0;
}
.btn 
{
	font-size: 1em;
	color: #fff;
	background: #d7da14;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: 30px;
	margin-bottom: 30px;
}
.btn i {
	margin-left: 10px;
}
.btn:hover
{
	letter-spacing: 6px;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 90px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 10px 90px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo
{
	color: #fff;
	font-weight: 900;
	font-size: 2.5em;
	text-decoration: none;
	/* font-family: 'Poppins', sans-serif; */
}
header.sticky .logo
{
	color: #111;
}
header .logo span
{
	color: #ff2600;
}
header .navigation
{
	position: relative;
	display: flex;
}
header .navigation li
{
	list-style: none;
	margin-left: 30px;
}
header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
}
header.sticky .navigation li a
{
	color: #111;
}
header .navigation li a:hover
{
	color: #ff8585;
}
section
{
	padding: 40px 90px;
}
.row
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row .col50
{
	position: relative;
	width: 48%;
	/* height: 400px; */
	margin-bottom: 50px;
} 
.row .col50 p
{
	margin-top: 50px;
}
.titleText
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.titleText span
{
	color: #cf6502;
	font-weight: 700;
	font-size: 1.5em;
}
.row .col50 .imgBx
{
	position: relative;
	width: 100%;
    object-fit: cover;
	margin-top: 70px;
	/* min-height: 850px; */
	height: 550px;
}
.row .col50 .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.title 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu
{
	margin-top: 50px;
}
.menu .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}
.menu .content .box
{
	width: 340px;
	margin-top: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
/* .menu .content .box:hover
{
	background-color: #eeb783;
} */
.menu .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.menu .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.menu .content .box .text 
{
	padding: 15px 0 5px;
}
.menu .content .box .text h3
{
	font-weight: 300;
	color: #111;
}
.more 
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.expert .content
{
	display: flex;
	margin-top: 30px;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	/* background-color: #fdffe5; */
	padding: 20px;
}
.expert .content .box
{
	width: 260px;
	height: 600px;
	margin: 15px;
}
.expert .content .box .imgBx
{
	height: 60%;
	position: relative;
}
.expert .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expert .content .box .text
{
	padding: 15px 0 5px;
}
.expert .content .box .text h3
{
	font-weight: 600;
	color: #111;
}
.expert .content .box .list
{
	margin: 10px;
	font-weight: 300;
}
.expert .content .box .list ul
{
	padding-left: 10px;
	margin-top: 8px;
	font-style: italic;
}
.expert .content .box .list ul li 
{
	margin: 10px 0;
}
.danhgia 
{
	background: url(../html/images/bia2.jpg);
	background-size: cover;
}
.white .titleText
{
	color: #fff;
} 
.danhgia .content
{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.danhgia .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.danhgia .content .box .imgBx
{
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}
.danhgia .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.danhgia .content .box .text
{
	text-align: center;	
}
.danhgia .content .box .text p
{
	color: #666;
	font-style: italic;
}
.danhgia .content .box .text h4
{
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #ff8f0f;
	font-weight: 800;
}
.ending
{
	background: #adb5bd;
	padding: 40px 60px;
	display: flex;
	flex-direction: row;
}
.ending .e
{
	margin: 0 10px;
}
.ending i
{
	margin: 5px;
}

/*------- cho page products------*/
.row-1
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container 
{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-1 
{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	height: 350px;
}

.col-1 img 
{
	width: 100%;
	height: 85%;	
	margin-bottom: 10px;
}
.row-2 h2
{
	color: #555;
}
.row-2.row-4
{
	margin-top: 30px;
}
h4
{
	color: #555;
	font-weight: normal;
}
.col-1 p
{
	font-size: 14px;
}
.rating .fa
{
	color: #ff523b;
}
.col-1:hover
{
	transform: translateY(-5px);
	cursor: pointer;
}
.row-2
{
	/* justify-content: space-between; */
	margin: 130px auto 50px;
}
select
{
	border: 1px solid #ff523b;
	padding: 5px;
}
select:focus
{
	outline: none;

}
.page-btn
{
	margin: 0 auto 80px;
}
.page-btn span
{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover
{
	background: #ff523b;
}
.col-1-end {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.col-1-end button {
	right: 0;
	border-style: none;
	color: #fff;
	background: #b48504;
	height: 40px;
	padding: 5px;
}
/* ------- cho page product detail--- */
.container .row-1 a 
{
	/* padding: 10px; */
	text-decoration: none;
}
.container a p {
	font-weight: 500;
	color: #cf6502;
}
.head-1 .logo, .head-1 .navigation li a{
	color: rgb(0, 0, 0);
}
.head-1 {
	background: #ffffff;
	padding: 15px 90px;
}
.btn-1:hover {
	background: #f0d067;
	letter-spacing: 2px;
}
.col-2 img 
{
	padding: 0;
	width: 100%;
	height: 100%;
}
.col-2 {
    padding: 20px;
    justify-content: space-between;
    margin-left: 2%;
    height: 400px;
    width: 340px;
    margin-top: 70px;
}
.col-2.other
{
	width: 600px;
}
.col-2 p, .col-2 a, .col-2 h3, .col-2 input
{
	margin-top: 15px;
}
.col-2 h4 {
	margin: 30px 0;
	font-size: 22px;
	font-weight: bold;
}
.col-2 h1 
{
	font-weight: 900;
	font-size: 50px;
}
.underline ::after
{
	content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -8;
    left: 33px;
    transition: 0.5s;
}
.underline .row-2
{
	padding-left: 30px;
	margin-bottom: 0;
}
.single-product {
	margin-bottom: 90px;
}
.row-3
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 0px;
}
.single-product input
{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #d7da14;
}
input:focus
{
	outline: none;
}
.single-product .fa 
{
	color: #ff8f0f;
	margin-left: 10px;
}
.small-img-row 
{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}
.small-img-col
{
	flex-basis: 24%;
	cursor: pointer;
	height: 90px;
    width: 70px;
}
.small-img-col img{
	height: 100%;
	width: 100%;
}
/*--------page cart ------*/
.container.cart-page, .profile
{
	margin: 150px auto;
}
.cart-page .btn {
	float: right;
	border-radius: 5px;
	background: #b7b910;
}
table
{
	width: 100%;
	border-collapse: collapse;
}
.cart-info
{
	display: flex;
	flex-wrap: wrap;
}
td img
{
	width: 80px;
	height: 90px;
	margin-right: 10px;
}
th 
{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #b48504;
	font-weight: normal;
}
.checkout .center, .checkout .pay {
	text-align: center;
}
td 
{
	padding: 10px 5px;
}
td input {
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #cf6502;
	font-size: 15px;
}
.total-price
{
	display: flex;
	justify-content: flex-end;
}
.total-price table
{
	border-top: 3px solid #cf6502;
	width: 100%;
	max-width: 400px;
}
td:last-child
{
	text-align: right;
}

/*--------mục đánh giá ------*/
.categories
{
	display: flex;
	margin: 30px 0 40px;
	background: rgb(252, 244, 230);
	padding: 10px;
	padding-left: 30px;
}
.comment
{
	margin: 40px;
	transition: 0.5s;
}
.comment .title
{
	text-align: initial;
	align-items: initial;
	justify-content: left;
	text-transform: uppercase;
	margin: 0 10px
}
.categories .col{
	margin-right: 120px;
	
}
.categories .col 
{
	font-size: 25px;
}
.comment span {
	display: inline-block;
	border: 1.4px solid #ffab0f;
	margin-left: 10px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	padding: 0 10px;
	margin-top: 10px;
}
.comment span:hover
{
	background: #ffab0f;
}
.comment img, .profile img
{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}
.cus-comment
{
	display: flex;
	padding-bottom: 30px;
	margin: 10px 20px;
	border-bottom: 1px solid #adb5bd;
	transition: 0.5s;
}
.comment-after span:last-child {
	background: #ffab0f;
	border-radius: 5px;
	color: #555;
	transition: 0.5s;
}
.add-cmt
{
	display: none;
}
.add-cmt.active {
	display: initial;
	display: flex;
	border-bottom: none;
	margin-top: 50px;
}
.cus-comment .cmt 
{
	width: calc(100% - 70px);
}
.cus-comment input
{
	width: 100%;
	min-height: 90px;
	margin-top: 10px;
	text-indent: 10px;
	display: flex;
	flex-wrap: wrap;
}
.cus-comment textarea {
	width: 100%;
	min-height: 90px;
	padding: 10px;
	border: 2px solid #b7b910;
}
.cus-comment button {
	background: #fff;
	width: 80px;
	height: 40px;
	border: 2px solid #d4d802;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.6s;
}
.cus-comment button:hover {
	background: #d4d802;
}
.rating-1 {
	font-size: 35px; 
}
.rating-1 input {
	display: none;
}
.rating-1 label::before
{
	margin: 5px;
	font-size: 1em;
	display: inline-block;
	font-family: FontAwesome;
	content: "\f005";
}
.rating-1 .full {
	color: #afafaf;
	float: right;
}
.rating-1 input:checked~label, .rating-1:not(:checked) label:hover,
.rating-1:not(:checked) label:hover~label {
	color: #ff523b;
}
/*--------xác nhận thanh toán------*/
.checkout
{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}
.checkout .container {
	/* background: #f1f1f1; */
	padding: 30px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.order-inf form {
	display: flex;
	flex-direction: column;
}
.order-inf form div {
	background: rgb(223, 192, 91);
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
}
.order-inf form label {
	color: #555;
}
.order-inf input, .order-inf textarea {
	/* width: 100%; */
	border:1px solid #7e7e7e;
	height: 40px;
}
.order-inf textarea {
	height: 80px;
	margin: 10px 0;
}
.order-inf {
	padding: 20px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
	width: 100%;
	margin-left: 10px;
	margin-bottom: 140px;
}
.order-inf input, .order-inf textarea {
	padding: 10px;
	margin: 10px 0;
	background: #ffffff;
	border-style: none;
	border-radius: 5px;
}
.order-inf h2, .cart-page h2 {
	color: #555;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.order-inf button {
	background: #aa8025;
	border-radius: 5px;
	width: fit-content;
	text-align: center;
	border-style: none;
	padding: 10px;
	font-size: 17px;
	cursor: pointer;
	color: #fff;
	float: inline-end;
	margin-top: 30px;
}
.order-inf button:hover {
	color: #555;
}

/*--------user profile------*/
.profile {
	display: flex;
	margin: 100px 80px;
	min-height: 360px;
	justify-content: center;
}
.profile img {
	width: 90px;
	height: 90px;
	border: 5px solid #fff;
}
.profile .imgB {
	background: darkkhaki;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 30px 30px 50px;
}
.colunm-1 {
	display: flex;
	width: 300px;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
}
.colunm-1 li {
	list-style: none;
	height: 60px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 10px 20px;
}
.colunm-1 li:hover {
	background: #dfdfdf;
}
.colunm-1 a {
	text-decoration: none;
	color: #555;
}
.colunm-1 p {
	font-weight: 500;
	color: #fff;
}
.colunm-1 .menu-1.active, .colunm-1 .menu-2.active{
	background: #dfdfdf;
	border-left: 4px solid #b48504;
	transition: 0.2s;
}
.colunm-2 {
	position: relative;
	margin: 0 30px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
	min-width: 830px;
    min-height: 450px;
	padding: 30px 0;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
}
.for-menu-1, .for-menu-2 {
	justify-content: center;
	width: 770px;
	margin: 0 30px;
	position: absolute;
}
.for-menu-2 {
	left: 831px;
}
.for-menu-1.active {
	left: 0;	
}
.for-menu-1 {
	left: 831px;
}
.for-menu-2.active {
	left: 0;
}
.formB {
	margin-top: 30px;
}
.colunm-2 .title {
	padding: 10px 0;
	border-bottom: 0.1px solid #aaaaaad5;
	background: #c9b755d8;	
}
.formB form .row-01 {
	margin: 25px;
	justify-content: space-between;
	display: flex;
}
.formB form .label {
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.formB form label {
	text-align: right;
}
.formB form input {
	font-size: 17px;
	float: left;
	min-width: 500px;
	height: 40px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 0.1px solid #c9b755d8;
}
.formB form .input {
	left: 0;
	width: 100%;
	margin-left: 20px;
}
.formB form button {
	width: 90px;
	height: fit-content;
	background: #c9b755d8;
	border: 0.1px solid #c9b755d8;
	color: #fff;
	font-size: 15px;
	padding: 10px 0;
	margin-left: 150px;
	cursor: pointer;
}

/*--------tìm kiếm------*/
.search {
	background: #cfc45d;
	min-height: 500px;
	padding: 200px 70px;
	margin-bottom: 50px;
}
.search h2 {
	font-size: 30px;
	margin-bottom: 10px;
}
.searchBx {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 50px;
}
.searchBx input {
	border-radius: 30px;
	border-style: none;
	position: absolute;
	padding: 20px;
	height: 50px;
	width: 400px;
}

@media (max-width: 991px)
{
	header, header.sticky {
		padding: 10px 20px;
	}
	header .navigation
	{
		display: none;
	}
	header .navigation.active
	{
		top: 68px;
		left: 0;
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fff;
	}
	header .navigation li 
	{
		margin-left: 0;
		margin-top: 10px;
	}
	header .navigation li a 
	{
		color: #111;
		font-size: 1.3em;
	}
	.menuToggle
	{
		background: url(../html/images/menu.png);
		background-size: 30px;
		width: 40px;
		height: 40px;
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}	
	.menuToggle.active {
		background: url(../html/images/close.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuToggle
	{
		filter: invert(1);
	}
	section {
		padding: 20px 30px;
	}
	.banner .content .h2
	{
		font-size: 3em;
		color: #fff;
	}
	.row {
		flex-direction: column;
	}
	
	.row .col50 
	{
		width: 100%;
	}
	.row .col50 .imgBx
	{
		margin-top: 0;
		width: 80%;
		height: 400px;
		margin: 0 10%;
	}
	.menu .content .box {
		margin-top: 10px;
	}
	.menu .content .box .imgBx {
		height: 250px;
	}
	.title 
	{
		text-align: center;
	}
	.danhgia .content .box {
		margin: 10px;
	}
	.banner .content h2 {
		font-size: 3em;
	}
	.banner .content p {
		font-size: 0.8em;
	}
	.btn {
		font-size: 0.8em;
	}
	.menu .content .box .text h3 {
		font-size: 1em;
	}
	.single-product .row-2
	{
		text-align: left;
	}
	.single-product .col-2
	{
		padding: 20px 0;
	}
	.single-product h1
	{
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p
	{
		display: none;
	}
	.comment {
		margin: 20px;
	}
	.checkout
	{
		flex-direction: column;
	}
	.order-inf {
		margin: 10px 0 90px;
	}
}